.build {
    &__content {
        margin-bottom: 35px;
        text-align: center;

        button {
            padding: 15px 30px;
        }
    }

    &__title {
        text-align: center;
        color: var(--text-color-white);
        margin-bottom: 35px;

        h1 {
            margin-bottom: 25px;
        }
    }

    &__features {
        @include position();
        gap: 20px;
        color: var(--text-color-white);
    }

    &__item {
        @include position($align: start, $direction: row);
        gap: 10px;

        i {
            font-size: 30px;
        }

        &-title {
            margin-top: 10px;

            h4 {
                margin-bottom: 15px;
            }
        }
    }
}

@media (min-width: 768px) {
    .build {
        &__content {
            gap: 35px;
            margin-bottom: 50px;
        }

        &__title {
            gap: 25px;
        }

        &__features {
            flex-direction: row;
            justify-content: space-between;
        }

        &__item {
            p {
                max-width: 300px;
            }
        }
    }
}

@media (min-width: 992px) {
    .build {
        &__features {
            justify-content: space-around;
        }
    }
}

@media (min-width: 1200px) {
    .build {
        &__content {
            text-align: left;
            padding-top: 20px;
            margin-bottom: 0px;
        }

        &__title {
            text-align: left;

            h1 {
                font-size: 42px;
                line-height: 52px;
            }
        }

        &__features {
            flex-direction: column;
        }

        &__item {
            &-title {
                gap: 15px;
            }
        }
    }

    .section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}