.footer {
    @include position();
    text-align: center;
    color: var(--text-color-white);
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 40px;

    &__logo {
        h2 {
            cursor: pointer;
        }
    }

    &__menu {
        @include position();
        gap: 30px;
        text-transform: uppercase;

        a {
            color: var(--text-color-grey);
            transition: color 0.2s ease-in-out;

            &:hover {
                color: var(--text-color-white);
            }
        }
    }

    &__socials {
        @include position($direction: row);
        gap: 20px;
        height: 40px;

        i {
            font-size: 15px;
            padding: 5px;
            @include border();
            border-radius: 100%;
            color: var(--text-color-white);
            transition: color 0.2s ease-in;

            &:hover{
                color:rgba(255, 255, 255, 0.3);
            }
        } 
    }
}

@media (min-width: 768px) {
    .footer {
        align-items: start;
        text-align: left;

        &__menu {
            align-items: start;
        }
    }
}

@media (min-width: 992px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        gap: initial;
        align-items: center;

        &__menu {
            flex-direction: row;
        }
    }
}