.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--text-color-white);
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 40px;

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-transform: uppercase;

        a {
            color: var(--text-color-grey);
            transition: color 0.2s ease-in-out;

            &:hover {
                color: var(--text-color-white);
            }
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 20px;
        height: 40px;

        i {
            font-size: 15px;
            padding: 5px;
            border: 2px solid rgba(255, 255, 255, 0.5);
            border-radius: 100%;
            color: var(--text-color-white);
        }
    }
}

@media (min-width: 768px) {
    .footer {
        align-items: start;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        gap: initial;
        align-items: center;

        &__menu {
            flex-direction: row;
        }
    }
}