.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

    &__logo {
        h2 {
            font-size: 24px;
            color: var(--text-color-main);
        }
    }

    &__hamburger {
        display: block;
        cursor: pointer;
        z-index: 3;

        &--bar {
            display: block;
            background-color: var(--text-color-main);
            border-radius: 3px;
            width: 30px;
            height: 3px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

            &:nth-child(2) {
                margin: 8px auto;
            }
        }

        &.active {
            .header__hamburger--bar--top {
                transform: translateY(10px) rotate(45deg);
            }

            .header__hamburger--bar--middle {
                opacity: 0;
            }

            .header__hamburger--bar--bottom {
                transform: translateY(-12px) rotate(-45deg);
            }
        }
    }

    ul {
        padding: 0px;
    }

    &__nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 100%;
        background-color: #3d1fbf;
        top: 55px;
        right: 0;
        transform: translateX(100%);
        height: 100%;
        gap: 30px;
        padding-top: 40px;
        transition: transform 0.1s ease-in-out;
        border: none;
        outline: none;

        &.active {
            transform: translateX(0);
            z-index: 2;
            transition-duration: 0.4s;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 30px;
    }

    &__item {
        padding-left: 15px;

        a {
            color: var(--text-color-grey);
            transition: color 0.2s ease-in-out;

            &:hover {
                color: var(--text-color-white);
            }
        }
    }

    &__buttons {
        padding-left: 15px;
        display: flex;
        align-items: center;
        gap: 10px;

        &--signIn {
            border: none;
            outline: none;
            background-color: transparent;
            color: var(--text-color-grey);
            transition: color 0.3s ease-in-out;
            padding: 0px;

            &:hover {
                color: var(--text-color-white);
            }
        }

        &--signUp {
            padding: 5px 15px;
            color: var(--text-color-white);
        }
    }
}

@media (min-width: 1200px) {
    .header__menu.container, .header__buttons.container{
        max-width: initial;
    }
    .header {
        &__hamburger {
            display: none;
        }

        &__logo {
            width: 50%;
        }

        &__nav {
            position: static;
            transform: none;
            transition: none;
            height: initial;
            flex-direction: row;
            align-items: center;
            background-color: transparent;
            justify-content: space-between;
            padding-top: 0px;
        }

        &__menu {
            justify-content: center;
            align-items: center;
            order: 1;

            flex-direction: row;
            justify-content: center;
        }

        &__item {
            padding-left: 0px;

            a {
                &:hover {
                    color: var(--text-color-main);
                }
            }
        }

        &__buttons {
            justify-content: flex-end;
            padding-left: 0px;
            order: 2;

            &--signIn {
                &:hover {
                    color: var(--text-color-main);
                }
            }
        }
    }
}