.hero {
    &__item {
        text-align: center;
        padding-top: 30px;
    }

    &__title {
        margin-bottom: 40px;
        h1 {
            color: var(--text-color-main);
            margin-bottom: 35px;
        }

        p {
            color: var(--text-color-grey);
        }
    }

    &__button {
        @include position();
        gap: 5px;

        button {
            padding: 15px 50px;
        }

        a {
            color: var(--action-color-primary);
            transition: color 0.3s ease-in-out;

            &:hover {
                color: var(--action-color-lightPrimary);
            }
        }
    }
}

@media (min-width: 992px) {
    .hero {
        &__item {
            gap: 40px;
        }

        &__button {
            gap: 10px;
        }
    }
}

@media (min-width: 1200px) {
    .hero {
        &__item {
            padding-top: 0px;
        }
    }
}