.hero {
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 40px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        h1 {
            color: var(--text-color-main);
        }

        p {
            color: var(--text-color-grey);
        }
    }

    &__button {
        display: flex;
        flex-direction: column;
        gap: 5px;

        button {
            padding: 15px 50px;
        }

        a {
            color: var(--action-color-primary);
            transition: color 0.3s ease-in-out;

            &:hover{
                color: #85e3d8;
            }
        }
    }
}

@media (min-width: 992px) {
    .hero {
        &__item {
            gap: 40px;
        }

        &__title {
            gap: 35px;
        }
        &__button{
            gap: 10px;
        }
    }
}