.navigation {
    button {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
        right: 0;
        transform: translateX(-20px);
        width: 40px;
        height: 40px;
        margin-bottom: 10px;

        i {
            font-size: 20px;
            transition: transform 0.4s ease-in-out;

            &:hover {
                transform: translateY(-10%);
            }
        }
    }
}

@media (min-width: 992px) {
    .navigation {
        button {
            transform: translateX(-5px);
        }
    }
}

@media (min-width: 1200px) {
    .navigation {
        button {
            transform: translateX(-20px);
        }
    }
}

@media (min-width: 1400px) {
    .navigation {
        button {
            transform: translateX(-50px);
        }
    }
}