.product {
    &__title {
        margin-bottom: 20px;
        text-align: center;

        h1 {
            color: var(--text-color-main);
            margin-bottom: 10px;
        }

        p {
            color: var(--text-color-grey);
            padding: 10px;
        }
    }

    &__content {
        @include position();
        gap: 20px;
    }

    &__features {
        @include position($align: left);
        gap: 20px;
    }

    &__item {
        h4 {
            color: var(--text-color-main);
        }

        p {
            color: var(--text-color-grey);
            padding: 10px;
        }
    }
}

@media (min-width: 768px) {
    .product {
        &__title {
            margin-bottom: 30px;
        }

        &__content {
            flex-direction: row;
            gap: initial;
            justify-content: space-between;
        }

        &__features {
            gap: initial;
            justify-content: space-around;
            height: 100%;
        }

        &__item {
            max-width: 270px;

            p {
                padding: 0px;
                margin-top: 10px;
            }
        }
    }
}

@media (min-width: 992px) {
    .product {
        &__title {
            margin-bottom: 65px;

            h1 {
                margin-bottom: 40px;
            }

            p {
                padding: 0px;
            }
        }

        &__content {
            justify-content: space-around;
        }
    }
}