.promo {
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--text-color-main);
        gap: 20px;
    }

    &__icons {
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        .icon-heart {
            color: red;
        }
    }

    &__title {
        text-align: center;

        p {
            color: var(--text-color-grey);
            margin-top: 30px;
        }
    }
}

@media (min-width: 1200px) {
    .promo {
        &__title {
            h1 {
                font-size: 58px;
            }
        }
    }
}