.promo {
    &__content {
        color: var(--text-color-main);
    }

    &__icons {
        font-size: 30px;
        @include position($direction: row);
        gap: 30px;
        margin-bottom: 20px;

        .icon-heart {
            color: red;
        }
    }

    &__title {
        text-align: center;

        p {
            color: var(--text-color-grey);
            margin-top: 30px;
        }
    }
}

@media (min-width: 1200px) {
    .promo {
        &__title {
            h1 {
                font-size: 58px;
            }
        }
    }
}