@import "../mixins.scss";

.questions {

    h1,
    h4 {
        color: var(--text-color-main);
    }

    h1 {
        text-align: center;
        margin-bottom: 50px;
    }

    &__cards {
        @include position();
        flex-wrap: wrap;
        gap: 30px;
    }

    &__item {
        h4 {
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 10px;
        }

        p {
            opacity: 0.4;
        }
    }
}

@media (min-width: 992px) {
    .questions {
        h1 {
            font-size: 42px;
            line-height: 52px;
        }

        &__cards {
            flex-direction: row;
            align-items: start;
            gap: 30px;
        }

        &__item {
            max-width: 450px;
        }
    }
}

@media (min-width: 1200px) {
    .questions {
        &__cards {
            gap: 90px;
        }

        &__items {
            max-width: 470px;
        }
    }
}