@import "../mixins.scss";

.benefits {
    &__content {
        text-align: center;

        h1 {
            margin-bottom: 50px;
            color: var(--text-color-main);

        }
    }

    &__cards {
        @include position();
        gap: 20px;
    }

    &__item {
        padding: 20px 10px;
        max-width: 270px;

        i {
            font-size: 60px;
            line-height: 1;
            color: var(--action-color-third);
        }

        h4 {
            color: var(--text-color-main);
            margin-top: 25px;
            margin-bottom: 25px;
        }

        p {
            color: var(--text-color-grey);
        }
    }
}

@media (min-width: 992px) {
    .benefits {
        &__content{
            h1{
                font-size: 42px;
            }
            
        }

        &__cards {
            flex-direction: row;
            gap: initial;
            justify-content: space-between;
            width: 100%;
        }
    }
}