.benefits {
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        padding: 20px 10px;
        max-width: 270px;

        i {
            font-size: 60px;
            line-height: 1;
            color: var(--action-color-third);
        }


        h4 {
            color: var(--text-color-main);
        }

        p {
            color: var(--text-color-grey);
        }
    }
}

@media (min-width: 992px) {
    .benefits {
        &__item {
            gap: 50px;
        }

        &__cards {
            flex-direction: row;
            gap: initial;
            justify-content: space-between;
            width: 100%;
        }
    }
}