@import "../mixins.scss";

.components {
    &__info {
        text-align: center;
        margin-bottom: 50px;

        h3 {
            font-size: 20px;
            line-height: 32px;
            color: var(--text-color-main);
            margin-bottom: 25px;
        }

        p {
            color: var(--text-color-grey);
            margin-bottom: 25px;
        }

        button {
            padding: 10px 22px;
            max-width: 100px;
        }
    }

    &__card {
        @include position($align: left);
        gap: 30px;
    }

    &__item {
        @include position($justify: left, $direction: row);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        p {
            color: var(--text-color-main);
            text-transform: uppercase;
        }

        i {
            font-size: 30px;
            opacity: 0.2;
        }
    }
}

@media (min-width: 768px) {
    .components {
        &__info {
            text-align: left;
            margin-bottom: 0px;

            h3 {
                font-size: 30px;
                line-height: 52px;
            }
        }

        &__card {
            justify-content: space-around;
            gap: initial;
        }

        &__item {
            p {
                font-size: 16px;
            }
        }
    }
}

@media (min-width: 992px) {
    .components {
        &__info {
            h3 {
                font-size: 42px;
                line-height: 52px;
            }
        }

        &__card {
            justify-content: space-between;
        }

        &__item {
            font-size: 14px;
            gap: 20px;
        }
    }
}