@import "../mixins.scss";

.street-bg {
    background: url("/src/assets/street.png") no-repeat center/cover;
}

.layers {
    padding-bottom: 0px;

    &__info {
        color: var(--text-color-white);
        margin-bottom: 40px;
    }

    &__title {
        text-align: center;
        margin-bottom: 60px;

        h1 {
            margin-bottom: 20px;
        }
    }

    &__item {
        @include position($direction: row, $justify: left);
        margin-bottom: 30px;
        gap: 10px;

        i {
            font-size: 30px;
        }

        p {
            text-transform: uppercase;
        }
    }

    &__phones {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .layers {
        &__title {
            h1 {
                font-size: 35px;
            }
        }

        &__list {
            @include position($align: left);
            gap: 10px;
        }

        &__item {
            p {
                font-size: 16px;
            }
        }
    }
}

@media (min-width: 992px) {
    .layers {
        &__info {
            @include position($align: start);
            margin-bottom: 0px;
        }

        &__title {
            text-align: left;

            h1 {
                font-size: 42px;
                line-height: 52px;
            }
        }

        &__list {
            flex-direction: column;
            align-items: start;
        }

        &__phones {
            justify-content: end;
        }
    }
}

@media (min-width: 1200px) {
    .layers {
        &__phones {
            justify-content: start;
        }
    }
}