@import "../mixins.scss";

.client {
    &__title {
        color: var(--text-color-white);
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    &__cards {
        @include position($direction: row);
        flex-wrap: wrap;
        gap: 20px;
    }

    &__item {
        @include position($align: start, $direction: row);
        gap: 30px;
        padding: 35px 35px 30px 25px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        max-width: 470px;
        height: 250px;
    }

    &__info {
        @include position($align: start, $justify: space-between);
        height: 100%;
        color: var(--text-color-white);

        span {
            opacity: 0.5;
            text-transform: uppercase;
        }
    }
}

@media (min-width: 992px) {
    .client {
        &__title {
            padding-bottom: 40px;

            h1 {
                font-size: 42px;
            }
        }

        &__item {
            max-width: 400px;
        }
    }
}

@media (min-width: 1200px) {
    .client {
        &__title {
            justify-content: left;
        }

        &__info {
            p {
                font-size: 16px;
            }
        }

        &__cards {
            justify-content: left;
            gap: 30px;
        }

        &__item {
            max-width: 415px;
        }
    }
}