.plan {
    &__title {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;
        color: var(--text-color-white);
        margin-bottom: 25px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        color: var(--text-color-white);
        padding: 40px;
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        align-items: start;
        justify-content: center;

        ul {
            padding: 0px;
        }
    }

    &__type {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 40px;
        margin-left: 20px;

        h2 {
            display: flex;
            gap: 10px;
            font-weight: 700;
            font-size: 58px;

            span {
                font-size: 16px;
                font-weight: 400;
                height: fit-content;
            }
        }
    }

    &__features {
        li {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-bottom: 28px;
        }

        .not-checked {
            opacity: 0.5;
            padding-left: 25px;
        }
    }

    &__button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.5);
            padding: 15px 60px;
            max-width: 230px;
            border-radius: 50px;
            color: var(--text-color-white);
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: var(--action-color-third);
                border: none;
                outline: none;
            }
        }
    }

    .swiper-slide-active .plan__item {
        button {
            background-color: var(--action-color-third);
            border: none;
            outline: none;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: #ee689b;
            }
        }
    }
}

@media (min-width: 992px) {
    .plan {
        &__title {
            gap: 30px;
            margin-bottom: 50px;
        }
    }
}