@import url("./grid_system.scss");
@import url("./reset.css");

::-webkit-scrollbar {
    display: none;
}

:root {
    --action-color-primary: #5bdacb;
    --action-color-secondary: #482BE7;
    --action-color-third: #E93A7D;
    --text-color-main: #1E0E62;
    --text-color-secondary: #151439;
    --text-color-white: #FFFFFF;
    --text-color-grey: #EBEAED;
    --background-color-dark: #2F1893;
}

.text-regular{
    font-weight: 400;
}

.text-bold{
    font-weight: 700;
}

.text-xm{
    font-size: 14px;
    line-height: 22px;
}

.text-sm{
    font-size: 16px;
    line-height: 24px;
}

.text-md{
    font-size: 18px;
    line-height: 26px;
}

.text-lg{
    font-size: 20px;
    line-height: 26px;
}

h1{
    font-size: 32px;
    line-height: 52px;
}

.green-btn{
    background-color: var(--action-color-primary);

}

.default-bg{
    background-color: var(--background-color-dark);
    border: none;
    outline: none;
    border-radius: 100%;
    transition: background-color 0.3s ease-in-out;

    &:hover{
        background-color: #85e3d8;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    h1{
        font-size: 42px;
        line-height: 52px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    h1{
        font-size: 58px;
        line-height: 70px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    h1{
        font-size: 72px;
        line-height: 86px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}