@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("./grid_system.scss");
@import url("./reset.css");
@import url("./sections/header.scss");
@import url("./sections/hero.scss");
@import url("./coala-fonts.css");
@import url("./sections/preview.scss");
@import url("./sections/product.scss");
@import url("./sections/build.scss");
@import url("./sections/promo.scss");
@import url("./sections/footer.scss");
@import url("./feature-sections/feature-hero.scss");

* {
    font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --action-color-primary: #5bdacb;
    --action-color-lightPrimary: #85e3d8;
    --action-color-secondary: #482be7;
    --action-color-third: #e93a7d;
    --text-color-main: #1e0e62;
    --text-color-secondary: #151439;
    --text-color-white: #ffffff;
    --text-color-grey: #a0a0a0;
    --background-color-dark: #2f1893;
}

.text-regular {
    font-weight: 400;
}
.text-medium{
    font-weight: 500;
}

.text-bold {
    font-weight: 700;
}

.text-xs {
    font-size: 14px;
    line-height: 22px;
}

.text-sm {
    font-size: 16px;
    line-height: 24px;
}

.text-md {
    font-size: 18px;
    line-height: 26px;
}

.text-lg {
    font-size: 20px;
    line-height: 28px;
}

.text-xl {
    font-size: 22px;
    line-height: 30px;
}

h1 {
    font-size: 32px;
    line-height: 52px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

.green-btn {
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: var(--action-color-primary);
    color: var(--text-color-white);
    transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: var(--action-color-lightPrimary);
        color: var(--text-color-grey);
    }
}

.default-bg {
    background-color: var(--background-color-dark);
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    h1 {
        font-size: 42px;
        line-height: 52px;
    }
}

@media (min-width: 992px) {
    .section{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .container {
        max-width: 960px;
    }
    h1{
        font-size: 58px;
        line-height: 70px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    h1 {
        font-size: 72px;
        line-height: 86px;
    }

    section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}